<html>
    <head>
        <title>Raif Pramenkovic GMBh</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/front-end/css/style.css">
    </head>
    <body>
        <header>
            <img src="/front-end/img/svg/header.svg" alt="" id="background">
            <img src="/front-end/img/svg/Raif_Ulica.svg" alt="" id="street">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 navContainer">
                        <div class="col-sm-3 logo">
                            <img src="/front-end/img/RP_logo.png" alt="">
                        </div>
                        <div class="col-sm-9 nav">
                            <ul>
                                <li>
                                    <a href="#" >SERVICES</a>
                                </li>
                                <li>
                                    <a href="#" >CONTACT US</a>
                                </li>
                                <li>
                                    <a href="#" >ABOUT US</a>
                                </li>
                                <li>
                                    <a href="#" >
                                        <span>
                                            <img src="/front-end/img/svg/phone.svg" alt="">
                                            +49 888 54711
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" >
                                        <span>
                                            <img src="/front-end/img/svg/envelope.svg" alt="">
                                            raif@pramenkovic.com
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" >
                                        <span>
                                            <img src="/front-end/img/svg/fb.svg" alt="">
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="slider">
            <div class="container">
                <div class="row">

                </div>
            </div>
        </div>
        <sections>
            <div class="container-fluid">
                <div class="row sections">
                    
                    <div class="col-sm-8  col-sm-offset-2">
                        <div class="col-sm-12 hidden"></div>
                        <div class="col-sm-12 sectionContainer">
                            <div class="col-sm-4 section">
                                <img src="/front-end/img/photos/4.jpg" alt="">
                                <h6 class="firaFont">Aushaltung</h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et dicta repellendus voluptates similique dolore, recusandae, obcaecati vero fugit distinctio architecto iste quae illum tempora, est. Placeat, earum iste numquam doloremque.</p>
                                <p>
                                    <a href="#" class="learnMore" >Learn More</a>
                                </p>
                            </div>
                            <div class="col-sm-4 section">
                                <img src="/front-end/img/photos/4.jpg" alt="">
                                <h6 class="firaFont" >Aushaltung</h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et dicta repellendus voluptates similique dolore, recusandae, obcaecati vero fugit distinctio architecto iste quae illum tempora, est. Placeat, earum iste numquam doloremque.</p>
                                <p>
                                    <a href="#" class="learnMore">Learn More</a>
                                </p>
                            </div>
                            <div class="col-sm-4 section">
                                <img src="/front-end/img/photos/4.jpg" alt="">
                                <h6 class="firaFont" >Aushaltung</h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et dicta repellendus voluptates similique dolore, recusandae, obcaecati vero fugit distinctio architecto iste quae illum tempora, est. Placeat, earum iste numquam doloremque.</p>
                                <p>
                                    <a href="#" class="learnMore" >Learn More</a>
                                </p>
                            </div>
                            <p class="circles">
                                <img src="/front-end/img/svg/circleFull.svg" alt="">
                                <img src="/front-end/img/svg/circleEmpty.svg" alt="">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </sections>
        <article>
            <div class="container-fluid">
                <div class="row about">
                    <div class="col-sm-4 truck">
                        <img src="/front-end/img/photos/9.png" alt="">
                    </div>
                    <div class="col-sm-8 skrewX">
                        <div class="col-sm-12 unskrewX">
                            <h2>WHAT WE OFFER</h2>
                            <div class="col-sm-6 icoSection">
                                <div class="col-sm-1 ico">
                                    <img src="/front-end/img/svg/medal.svg" alt="">
                                </div>
                                <div class="col-sm-11 icoText">
                                    <h4>
                                        Best Quality
                                        <div class="headerLine"></div>
                                    </h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A dicta incidunt repellat vitae, minima laborum eum laudantium at quia est in</p>
                                </div>
                                 </div>
                            <div class="col-sm-6 icoSection">
                                <div class="col-sm-1 ico">
                                    <img src="/front-end/img/svg/precision-posture.svg" alt="">
                                </div>
                                <div class="col-sm-11 icoText">
                                    <h4>
                                        Accuracy
                                        <div class="headerLine"></div>
                                    </h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A dicta incidunt repellat vitae, minima laborum eum laudantium at quia est in</p>
                                </div>
                            </div>
                            <div class="col-sm-6 icoSection">
                                 <div class="col-sm-1 ico">
                                    <img src="/front-end/img/svg/stopwatch.svg" alt="">
                                </div>
                                <div class="col-sm-11 icoText">
                                    <h4>
                                        Always On Time
                                        <div class="headerLine"></div>
                                    </h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A dicta incidunt repellat vitae, minima laborum eum laudantium at quia est in</p>
                                </div>
                            </div>
                            <div class="col-sm-6 icoSection">
                                <div class="col-sm-1 ico">
                                    <img src="/front-end/img/svg/percentage.svg" alt="">
                                </div>
                                <div class="col-sm-11 icoText">
                                    <h4>
                                        Best Price
                                        <div class="headerLine"></div>
                                    </h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A dicta incidunt repellat vitae, minima laborum eum laudantium at quia est in</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </article>
        <div class="preMainSection">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 qualityContainer">
                        <div class="col-sm-12 qualityText">
                            <p>Qualitätsarbeit</p>
                            <p>Die besten Matelialien professionell veratbeitet. Darauf können Sie bauen.</p>
                        </div>
                        <div class="col-sm-6 quality">
                            <ul>
                                <li>
                                    <img src="/front-end/img/svg/Innovative.svg" alt="">
                                    <p>INOVATIVE</p>
                                </li>
                                <li class="dots">
                                    <img src="/front-end/img/svg/Tackice.svg" alt="" >
                                    
                                </li>
                                <li>
                                    <img src="/front-end/img/svg/Professional.svg" alt="">
                                    <p>INOVATIVE</p>
                                </li>
                                <li class="dots">
                                    <img src="/front-end/img/svg/Tackice.svg" alt="">
                                    
                                </li>
                                <li>
                                    <img src="/front-end/img/svg/100 %.svg" alt="">
                                    <p>INOVATIVE</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of about our services section -->
                    <aside>
                <div class="col-sm-12">
                    <div class="col-sm-8 boutUs">
                        <div class="col-sm-10 boutUsText">
                            <h1>About Us</h1>
                            <p>Die RP Raif Pramenkovic GmbH ist ihr zuvertlässiger Partner im Bereich Tief-, Kanal- und Straßenbau.</p>

                            <p>Seit über 10 Jahren steht unser Meisterbetrieb für solide Ausführung auf handwerklich höchstem Niveau. Neben Ausschachtungen, Straßenbau und Pflasterarbeiten 
                            übernehmen wir auch die gesamte Gestaltung Ihrer Gartenanlage.</p>
                        </div>
                    </div>
                    <div class="col-sm-4 bedge">
                        <img src="/front-end/img/svg/bedge.svg" alt="">
                    </div>
                </div>
                <div class="col-sm-8 col-sm-offset-2 gallery">
                    <div class="col-sm-6">
                        <div class="col-sm-12 mainPhoto">
                            <img src="/front-end/img/photos/4.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-sm-6 littlePics">
                        <div class="col-sm-4 lilPic">
                            <img src="/front-end/img/photos/10.jpg" alt="">
                        </div>
                        <div class="col-sm-4 lilPic">
                            <img src="/front-end/img/photos/11.jpg" alt="">
                        </div>
                        <div class="col-sm-4 lilPic">
                            <img src="/front-end/img/photos/5.jpg" alt="">
                        </div>
                        <div class="col-sm-4 lilPic">
                            <img src="/front-end/img/photos/6.jpg" alt="">
                        </div>
                        <div class="col-sm-4 lilPic">
                            <img src="/front-end/img/photos/7.jpg" alt="">
                        </div>
                        <div class="col-sm-4 lilPic">
                            <img src="/front-end/img/photos/4.jpg" alt="">
                        </div>
                        <div class="col-sm-4 lilPic">
                            <img src="/front-end/img/photos/3.jpg" alt="">
                        </div>
                        <div class="col-sm-4 lilPic">
                            <img src="/front-end/img/photos/2.jpg" alt="">
                        </div>
                        <div class="col-sm-4 lilPic">
                            <img src="/front-end/img/photos/13.jpg" alt="">
                        </div>
                        <div class="col-sm-4 lilPic">
                            <img src="/front-end/img/photos/14.jpg" alt="">
                        </div>
                        <div class="col-sm-4 lilPic">
                            <img src="/front-end/img/photos/11.jpg" alt="">
                        </div>
                        <div class="col-sm-4 lilPic">
                            <img src="/front-end/img/photos/5.jpg" alt="">
                        </div>
                        <div class="col-sm-4 lilPic">
                            <img src="/front-end/img/photos/6.jpg" alt="">
                        </div>
                        <div class="col-sm-4 lilPic">
                            <img src="/front-end/img/photos/7.jpg" alt="">
                        </div>
                        <div class="col-sm-4 lilPic">
                            <img src="/front-end/img/photos/4.jpg" alt="">
                        </div>
                        <div class="col-sm-4 lilPic">
                            <img src="/front-end/img/photos/3.jpg" alt="">
                        </div>
                        <div class="col-sm-4 lilPic">
                            <img src="/front-end/img/photos/2.jpg" alt="">
                        </div>
                        <div class="col-sm-4 lilPic">
                            <img src="/front-end/img/photos/13.jpg" alt="">
                        </div>
                        <div class="col-sm-4 lilPic">
                            <img src="/front-end/img/photos/14.jpg" alt="">
                        </div>
                    </div>
                </div>
            </aside>
            <!-- the end of gallery -->
        <main>


            <div class="projects">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 projectsInner">
                            <div class="col-sm-12 headlight">
                                <h1>Our latest Projects</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                            </div>
                            <div class="col-sm-8 col-sm-offset-2 latestProjs">
                                <div class="col-sm-6 video">
                                    <img src="/front-end/img/photos/4.jpg" alt="">
                                </div>
                                <div class="col-sm-6 projectsContainer">
                                    <div class="col-sm-12 projectSingle">
                                        <div class="col-sm-5">
                                            <img src="/front-end/img/photos/4.jpg" alt="">
                                        </div>
                                        <div class="col-sm-7">
                                            <h4>
                                                Lorem Ipsum 1
                                                <div class="headerLine"></div>
                                            </h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus ipsa hic</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 projectSingle">
                                        <div class="col-sm-5">
                                            <img src="/front-end/img/photos/4.jpg" alt="">
                                        </div>
                                        <div class="col-sm-7">
                                            <h4>
                                                Lorem Ipsum 1
                                                <div class="headerLine"></div>
                                            </h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus ipsa hic</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <div class="container footerHolder">
                <div class="row">
                    <div class="col-sm-12 footerContainer">
                        <div class="col-sm-5 logoFooter">
                            <img src="/front-end/img/RP_Logo_Beli.png" alt="">
                        </div>
                        <div class="col-sm-7">
                            <div class="col-sm-3 listUnit">
                                <h4>Quick Links
                                    <div class="lines"></div>
                                </h4>
                                <ul>
                                    <li>
                                        <a href="">Home</a>
                                    </li>
                                    <li>
                                        <a href="">Services</a>
                                    </li>
                                    <li>
                                        <a href="">About Us</a>
                                    </li>
                                    <li>
                                        <a href="">Latest Projects</a>
                                    </li>
                                    <li>
                                        <a href="">Contact us</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-3 listUnit">
                                <h4>Services
                                    <div class="lines"></div>
                                </h4>
                                <ul>
                                    <li>
                                        <a href="">Ausschachtungen</a>
                                    </li>
                                    <li>
                                        <a href="">Gartenanlagen</a>
                                    </li>
                                    <li>
                                        <a href="">Mauerscheiben</a>
                                    </li>
                                    <li>
                                        <a href="">Teichanlagen</a>
                                    </li>
                                    <li>
                                        <a href="">Treppen</a>
                                    </li>
                                    <li>
                                        <a href="">Balkonplattierungen</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-3 listUnit">
                                <h4>Contact
                                    <div class="lines"></div>
                                </h4>
                                <ul>
                                    <li>
                                        <a href="" class="icoFooter">
                                            <img src="/front-end/img/svg/placeholder.svg" alt="">
                                            Address
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" class="icoFooter">
                                            <img src="/front-end/img/svg/phone.svg" alt="">
                                            Phone
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" class="icoFooter">
                                             <img src="/front-end/img/svg/envelope.svg" alt="">
                                            Mail
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" class="icoFooter">
                                             <img src="/front-end/img/svg/fb.svg" alt="">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 copyRights">
                        <p>© 2016 Raif Pramenkovic Gmbh. All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>