nav{
    display:none;
}
@media screen and (max-width: 900px){
    header{
        display:none;
    }
    nav{
        display:block;
    }
    .desktop-container{
        display:none;
    }
    .footerContainer{
        display:none;
    }
    .mobile-version-footer{
        display:block;
        padding: 6% !important;
    }
    .icoFooter img{
        width: 14%;
    }
    footer{
        height:auto !important;
    }
    .mobile-container-responsive{
        overflow: hidden;
    }
    nav{
        display:block;
    }
    .mobile-container-responsive{
        display:block;
    }
}