<footer>
    <div class="container footerHolder">
        <div class="row">
            <div class="col-sm-12 footerContainer">
                <div class="col-sm-5 col-xs-6 logoFooter">
                    <img src="/front-end/resources/img/logowhite.png" alt="">
                </div>
                <div class="col-sm-7 col-xs-6">
                    <div class="col-sm-3 listUnit">
                        <h4>Quick Links
                            <div class="lines"></div>
                        </h4>
                        <ul>
                            <li>
                                <a href="">Home</a>
                            </li>
                            <li>
                                <a href="">Services</a>
                            </li>
                            <li>
                                <a href="">About Us</a>
                            </li>
                            <li>
                                <a href="">Latest Projects</a>
                            </li>
                            <li>
                                <a href="">Contact us</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-3 listUnit">
                        <h4>Services
                            <div class="lines"></div>
                        </h4>
                        <ul>
                            <li>
                                <a href="">Ausschachtungen</a>
                            </li>
                            <li>
                                <a href="">Gartenanlagen</a>
                            </li>
                            <li>
                                <a href="">Mauerscheiben</a>
                            </li>
                            <li>
                                <a href="">Teichanlagen</a>
                            </li>
                            <li>
                                <a href="">Treppen</a>
                            </li>
                            <li>
                                <a href="">Balkonplattierungen</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-3 listUnit" id="contacts">
                        <h4>Contact
                            <div class="lines" id="contact-line"></div>
                        </h4>
                        <ul>
                            <li>
                                <a href="" class="icoFooter">
                                    <img src="/front-end/resources/img/svg/placeholder.svg" alt="">
                                    Address
                                </a>
                            </li>
                            <li>
                                <a href="" class="icoFooter">
                                    <img src="/front-end/resources/img/svg/phone.svg" alt="">
                                    Phone
                                </a>
                            </li>
                            <li>
                                <a href="" class="icoFooter">
                                        <img src="/front-end/resources/img/svg/envelope.svg" alt="">
                                    Mail
                                </a>
                            </li>
                            <li>
                                <a href="" class="icoFooter">
                                        <img src="/front-end/resources/img/svg/fb.svg" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            {# mobile footer version #}
            <div class="col-xs-12 mobile-version-footer">
                <div class="col-xs-6">
                    <div class="col-sm-3 listUnit" id="contacts">
                        <h4>Contact
                            <div class="lines" id="contact-line"></div>
                        </h4>
                        <ul>
                            <li>
                                <a href="" class="icoFooter">
                                    <img src="/front-end/resources/img/svg/placeholder.svg" alt="">
                                    Address
                                </a>
                            </li>
                            <li>
                                <a href="" class="icoFooter">
                                    <img src="/front-end/resources/img/svg/phone.svg" alt="">
                                    Phone
                                </a>
                            </li>
                            <li>
                                <a href="" class="icoFooter">
                                        <img src="/front-end/resources/img/svg/envelope.svg" alt="">
                                    Mail
                                </a>
                            </li>
                            <li>
                                <a href="" class="icoFooter">
                                        <img src="/front-end/resources/img/svg/fb.svg" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-6 logo-mobile-container">
                    <img src="/front-end/resources/img/logowhite.png" alt="">
                </div>
            </div>
            <div class="col-sm-12 col-xs-12 copyRights">
                <p>© 2016 Raif Pramenkovic Gmbh. All Rights Reserved</p>
            </div>
        </div>

    </div>
</footer>