<header>
    <img src="/front-end/resources/img/svg/header.svg" alt="" id="background">
    <img src="/front-end/resources/img/svg/Raif_Ulica.svg" alt="" id="street">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 navContainer">
                <div class="col-sm-3 logo">
                    <img src="/front-end/resources/img/logo.png" alt="">
                </div>
                <div class="col-sm-9 nav">
                    <ul>
                        <li>
                            <a href="#" >SERVICES</a>
                        </li>
                        <li>
                            <a href="#" >CONTACT US</a>
                        </li>
                        <li>
                            <a href="#" >ABOUT US</a>
                        </li>
                        <li>
                            <a href="#" >
                                <span>
                                    <img src="/front-end/resources/img/svg/phone.svg" alt="">
                                    +49 888 54711
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#" >
                                <span>
                                    <img src="/front-end/resources/img/svg/envelope.svg" alt="">
                                    raif@pramenkovic.com
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#" >
                                <span>
                                    <img src="/front-end/resources/img/svg/fb.svg" alt="">
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
{# responsive navigation bar #}
<nav>
    <div class="nav-container">
        <div class="logo-container">
            <img src="/front-end/resources/img/logo.png" alt="">
        </div>
        <div class="hamburger-menu">
            <img src="/front-end/resources/img/svg/menu.svg" alt="">
        </div>
    </div>
    <div class="menu">
        <ul>
            <li>
                <a href="">Home</a>
            </li>
            <li>
                <a href="">Service</a>
            </li>
            <li>
                <a href="">Gallerie</a>
            </li>
            <li>
                <a href="">Uber uns</a>
            </li>
            <li>
                <a href="">Projecte</a>
            </li>
        </ul>
    </div>
    <div class="line"></div>
</nav>
