<html>
    {% include 'shared/header.twig' %}
    <body>
        
        {% include 'shared/navigation.twig' %}
        <div class="container-fluid desktop-container">
            <div class="slider">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="/front-end/resources/slider/slider3.jpg" alt="...">
                                <div class="content">
                                    <div id="heading" class="heading">
                                        <h1>Ihr zuverlässiger Partner im Hochbau</h1>
                                    </div>
                                    <p class="sliderTxt">
                                    </p>
                                </div>
                            </div>
                        <div class="item">
                            <img src="/front-end/resources/slider/slider1.jpg" alt="...">
                            <div class="content">
                                <div id="heading" class="heading">
                                    <h1>Ihr zuverlässiger Partner im Hochbau</h1>
                                </div>
                                <p class="sliderTxt">
                                </p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="/front-end/resources/slider/slider2.jpg" alt="...">
                            <div class="content">
                                <div id="heading" class="heading">
                                    <h1>Ihr zuverlässiger Partner im Hochbau</h1>
                                </div>
                                <p class="sliderTxt">
                                </p>
                            </div>
                        </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            </div>
            <sections>
                <div class="container-fluid">
                    <div class="row sections">
                        
                        <div class="section-container-wrapper">
                            <div class="col-sm-12 hidden"></div>
                            <div class="col-sm-12 sectionContainer">
                                <div class="sectionsWrapper">
                                    <div class="collection">
                                        <div class="col-sm-4 section">
                                            <img src="/front-end/resources/img/photos/4.jpg" alt="">
                                            <h6 class="firaFont">Aushaltung</h6>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et dicta repellendus voluptates similique dolore, recusandae, obcaecati vero fugit distinctio architecto iste quae illum tempora, est. Placeat, earum iste numquam doloremque.</p>
                                            <p>
                                                <a href="#" class="learnMore" >Learn More</a>
                                            </p>
                                        </div>
                                        <div class="col-sm-4 section">
                                            <img src="/front-end/resources/img/photos/4.jpg" alt="">
                                            <h6 class="firaFont" >Gartenanlagen</h6>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et dicta repellendus voluptates similique dolore, recusandae, obcaecati vero fugit distinctio architecto iste quae illum tempora, est. Placeat, earum iste numquam doloremque.</p>
                                            <p>
                                                <a href="#" class="learnMore">Learn More</a>
                                            </p>
                                        </div>
                                        <div class="col-sm-4 section">
                                            <img src="/front-end/resources/img/photos/4.jpg" alt="">
                                            <h6 class="firaFont" >Mauerscheiben</h6>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et dicta repellendus voluptates similique dolore, recusandae, obcaecati vero fugit distinctio architecto iste quae illum tempora, est. Placeat, earum iste numquam doloremque.</p>
                                            <p>
                                                <a href="#" class="learnMore" >Learn More</a>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="collection">
                                        <div class="col-sm-4 section">
                                            <img src="/front-end/resources/img/photos/4.jpg" alt="">
                                            <h6 class="firaFont">Teichanlagen</h6>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et dicta repellendus voluptates similique dolore, recusandae, obcaecati vero fugit distinctio architecto iste quae illum tempora, est. Placeat, earum iste numquam doloremque.</p>
                                            <p>
                                                <a href="#" class="learnMore" >Learn More</a>
                                            </p>
                                        </div>
                                        <div class="col-sm-4 section">
                                            <img src="/front-end/resources/img/photos/4.jpg" alt="">
                                            <h6 class="firaFont" >Treppen</h6>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et dicta repellendus voluptates similique dolore, recusandae, obcaecati vero fugit distinctio architecto iste quae illum tempora, est. Placeat, earum iste numquam doloremque.</p>
                                            <p>
                                                <a href="#" class="learnMore">Learn More</a>
                                            </p>
                                        </div>
                                        <div class="col-sm-4 section">
                                            <img src="/front-end/resources/img/photos/4.jpg" alt="">
                                            <h6 class="firaFont" >Balkonplattierungen</h6>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et dicta repellendus voluptates similique dolore, recusandae, obcaecati vero fugit distinctio architecto iste quae illum tempora, est. Placeat, earum iste numquam doloremque.</p>
                                            <p>
                                                <a href="#" class="learnMore" >Learn More</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <p class="circles">
                                    <img src="/front-end/resources/img/svg/circleEmpty.svg" alt="" id="first" class="circle">
                                    <img src="/front-end/resources/img/svg/circleFull.svg" alt="" id="second" class="circle">
                                </p>
                                <a class="left section-control" href="" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="right section-control" href="" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </sections>
            <article>
                <div class="container-fluid">
                    <div class="row about">
                        <div class="col-sm-4 truck">
                            <img src="/front-end/resources/img/photos/9.png" alt="">
                        </div>
                        <div class="col-sm-8 skrewX">
                            <div class="col-sm-12 unskrewX">
                                <h2>WHAT WE OFFER</h2>
                                <div class="col-sm-6 icoSection">
                                    <div class="col-sm-1 ico">
                                        <img src="/front-end/resources/img/svg/medal.svg" alt="">
                                    </div>
                                    <div class="col-sm-11 icoText">
                                        <h4>
                                            Best Quality
                                            <div class="headerLine"></div>
                                        </h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A dicta incidunt repellat vitae, minima laborum eum laudantium at quia est in</p>
                                    </div>
                                    </div>
                                <div class="col-sm-6 icoSection">
                                    <div class="col-sm-1 ico">
                                        <img src="/front-end/resources/img/svg/precision-posture.svg" alt="">
                                    </div>
                                    <div class="col-sm-11 icoText">
                                        <h4>
                                            Accuracy
                                            <div class="headerLine"></div>
                                        </h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A dicta incidunt repellat vitae, minima laborum eum laudantium at quia est in</p>
                                    </div>
                                </div>
                                <div class="col-sm-6 icoSection">
                                    <div class="col-sm-1 ico">
                                        <img src="/front-end/resources/img/svg/stopwatch.svg" alt="">
                                    </div>
                                    <div class="col-sm-11 icoText">
                                        <h4>
                                            Always On Time
                                            <div class="headerLine"></div>
                                        </h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A dicta incidunt repellat vitae, minima laborum eum laudantium at quia est in</p>
                                    </div>
                                </div>
                                <div class="col-sm-6 icoSection">
                                    <div class="col-sm-1 ico">
                                        <img src="/front-end/resources/img/svg/percentage.svg" alt="">
                                    </div>
                                    <div class="col-sm-11 icoText">
                                        <h4>
                                            Best Price
                                            <div class="headerLine"></div>
                                        </h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A dicta incidunt repellat vitae, minima laborum eum laudantium at quia est in</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </article>
            <div class="preMainSection">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 qualityContainer">
                            <div class="col-sm-12 qualityText">
                                <p>Qualitätsarbeit</p>
                                <p>Die besten Matelialien professionell veratbeitet. Darauf können Sie bauen.</p>
                            </div>
                            <div class="col-sm-6 quality">
                                <ul>
                                    <li>
                                        <img src="/front-end/resources/img/svg/Innovative.svg" alt="">
                                        <p>INOVATIVE</p>
                                    </li>
                                    <li class="dots">
                                        <img src="/front-end/resources/img/svg/Tackice.svg" alt="" >
                                        
                                    </li>
                                    <li>
                                        <img src="/front-end/resources/img/svg/Professional.svg" alt="">
                                        <p>INOVATIVE</p>
                                    </li>
                                    <li class="dots">
                                        <img src="/front-end/resources/img/svg/Tackice.svg" alt="">
                                        
                                    </li>
                                    <li>
                                        <img src="/front-end/resources/img/svg/100.svg" alt="">
                                        <p>INOVATIVE</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of about our services section -->
                <aside>
                    <div class="col-sm-12">
                        <div class="col-sm-9 boutUs">
                            <div class="boutUsWrapper">
                                <div class="boutUsText">
                                    <h1>About Us</h1>
                                    <p>
                                        Die RP Raif Pramenkovic GmbH ist ihr zuvertlässiger Partner im Bereich Tief-, Kanal- und Straßenbau.
                                    </p>
                                    <p>
                                        Seit über 10 Jahren steht unser Meisterbetrieb für solide Ausführung auf handwerklich höchstem Niveau. Neben Ausschachtungen, Straßenbau und Pflasterarbeiten 
                                        übernehmen wir auch die gesamte Gestaltung Ihrer Gartenanlage.
                                    </p>
                                    <p>
                                        <a href="" class="learnMore" onclick="return showContact('-75%')">Kontakt Uns</a>
                                    </p>
                                </div>

                                <div class="boutUsText contact-about">
                                    <h1>Kontakt Uns</h1>
                                    <p>
                                        Please fill the form the best way you can, in order to reply to you 
                                    </p>
                                    <div class="info-contact-form">
                                        <div class="input-field">
                                            <input type="text" placeholder="Your Name" >
                                        </div>
                                        <div class="input-field">
                                            <input type="text" placeholder="Your E-Mail">
                                        </div>
                                        <div class="input-field">
                                            <input type="text" placeholder="Subject">
                                        </div>
                                    </div>
                                    <div class="info-text-area">
                                        <textarea name="" id="" placeholder="Message"></textarea>
                                    </div>
                                    <div class="button-section-contact">
                                    <p>
                                        <a href="" class="learnMore" onclick="return showContact('25%')">Zurik</a>
                                    </p>
                                    <button>
                                        Send Message
                                    </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 bedge">
                            <img src="/front-end/resources/img/svg/bedge.svg" alt="">
                        </div>
                    </div>
                    <div class="col-sm-8 col-sm-offset-2 gallery">
                        <div class="col-sm-6">
                            <div class="col-sm-12 mainPhoto">
                                <div id="carousel-example-generic-gallery" class="carousel slide" data-ride="carousel">

                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner" role="listbox">
                                        <div class="item active">
                                            <img src="/front-end/resources/img/photos/10.jpg" alt="...">
                                        </div>
                                        <div class="item">
                                            <img src="/front-end/resources/img/photos/11.jpg" alt="...">
                                        </div>
                                        <div class="item">
                                            <img src="/front-end/resources/img/photos/5.jpg" alt="...">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 littlePics">
                            <div class="col-sm-4 lil-pic">
                                <img src="/front-end/resources/img/photos/10.jpg" alt="" data-target="#carousel-example-generic-gallery" data-slide-to="0" class="active">
                                <div class="hover-element"  data-target="#carousel-example-generic-gallery" data-slide-to="0" class="active">
                                    <p>Aushaltung</p>
                                </div>
                            </div>
                            <div class="col-sm-4 lil-pic">
                                <img src="/front-end/resources/img/photos/11.jpg" alt="" data-target="#carousel-example-generic-gallery" data-slide-to="1">
                                <div class="hover-element" data-target="#carousel-example-generic-gallery" data-slide-to="1">
                                    <p>Aushaltung</p>
                                </div>
                            </div>
                            <div class="col-sm-4 lil-pic">
                                <img src="/front-end/resources/img/photos/5.jpg" alt="" data-target="#carousel-example-generic-gallery" data-slide-to="2">
                                <div class="hover-element" data-target="#carousel-example-generic-gallery" data-slide-to="2">
                                    <p>Aushaltung</p>
                                </div>
                            </div>
                            {#<div class="col-sm-4 lil-pic">
                                <img src="/front-end/resources/img/photos/6.jpg" alt="" data-target="#carousel-example-generic" data-slide-to="3" >
                            </div>
                            <div class="col-sm-4 lil-pic">
                                <img src="/front-end/resources/img/photos/7.jpg" alt="" data-target="#carousel-example-generic" data-slide-to="4" >
                            </div>
                            <div class="col-sm-4 lil-pic">
                                <img src="/front-end/resources/img/photos/4.jpg" alt="" data-target="#carousel-example-generic" data-slide-to="5">
                            </div>
                            <div class="col-sm-4 lil-pic">
                                <img src="/front-end/resources/img/photos/3.jpg" alt="" data-target="#carousel-example-generic" data-slide-to="6">
                            </div>
                            <div class="col-sm-4 lil-pic">
                                <img src="/front-end/resources/img/photos/2.jpg" alt="" data-target="#carousel-example-generic" data-slide-to="7">
                            </div>
                            <div class="col-sm-4 lil-pic">
                                <img src="/front-end/resources/img/photos/13.jpg" alt="" data-target="#carousel-example-generic" data-slide-to="8">
                            </div>
                            <div class="col-sm-4 lil-pic">
                                <img src="/front-end/resources/img/photos/14.jpg" alt="" data-target="#carousel-example-generic" data-slide-to="9">
                            </div>
                            <div class="col-sm-4 lil-pic">
                                <img src="/front-end/resources/img/photos/11.jpg" alt="" data-target="#carousel-example-generic" data-slide-to="10">
                            </div>
                            <div class="col-sm-4 lil-pic">
                                <img src="/front-end/resources/img/photos/5.jpg" alt="" data-target="#carousel-example-generic" data-slide-to="11">
                            </div>
                            <div class="col-sm-4 lil-pic">
                                <img src="/front-end/resources/img/photos/6.jpg" alt="" data-target="#carousel-example-generic" data-slide-to="12">
                            </div>
                            <div class="col-sm-4 lil-pic">
                                <img src="/front-end/resources/img/photos/7.jpg" alt="" data-target="#carousel-example-generic" data-slide-to="13" >
                            </div>
                            <div class="col-sm-4 lil-pic">
                                <img src="/front-end/resources/img/photos/4.jpg" alt="" data-target="#carousel-example-generic" data-slide-to="14" >
                            </div>
                            <div class="col-sm-4 lil-pic">
                                <img src="/front-end/resources/img/photos/3.jpg" alt="" data-target="#carousel-example-generic" data-slide-to="15">
                            </div>
                            <div class="col-sm-4 lil-pic">
                                <img src="/front-end/resources/img/photos/2.jpg" alt="" data-target="#carousel-example-generic" data-slide-to="16" >
                            </div>
                            <div class="col-sm-4 lil-pic">
                                <img src="/front-end/resources/img/photos/13.jpg" alt="" data-target="#carousel-example-generic" data-slide-to="17">
                            </div>
                            <div class="col-sm-4 lil-pic">
                                <img src="/front-end/resources/img/photos/14.jpg" alt="" data-target="#carousel-example-generic" data-slide-to="18">
                            </div>#}
                        </div>
                    </div>
                </aside>
                <!-- the end of gallery -->
            <main>


                <div class="projects">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12 projectsInner">
                                <div class="col-sm-12 headlight">
                                    <h1>Our latest Projects</h1>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                                </div>
                                <div class="col-sm-8 col-sm-offset-2 latestProjs">
                                    <div class="col-sm-6 video">
                                        <img src="/front-end/resources/img/photos/4.jpg" alt="">
                                    </div>
                                    <div class="col-sm-6 projectsContainer">
                                        <div class="col-sm-12 projectSingle">
                                            <div class="col-sm-5">
                                                <img src="/front-end/resources/img/photos/4.jpg" alt="">
                                            </div>
                                            <div class="col-sm-7">
                                                <h4>
                                                    Lorem Ipsum 1
                                                    <div class="headerLine"></div>
                                                </h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus ipsa hic</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 projectSingle">
                                            <div class="col-sm-5">
                                                <img src="/front-end/resources/img/photos/4.jpg" alt="">
                                            </div>
                                            <div class="col-sm-7">
                                                <h4>
                                                    Lorem Ipsum 1
                                                    <div class="headerLine"></div>
                                                </h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus ipsa hic</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        {# moblie section start #}
        <div class="container-fluid mobile-container-responsive">
            <div class="row">
                <div class="mobile-slider">
                    <div class="slider-wrapper">
                        <div id="carousel-example-generic-mobile" class="carousel slide" data-ride="carousel">
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <img src="/front-end/resources/slider/slider3.jpg" alt="...">
                                        <div class="content">
                                            <div id="heading" class="heading">
                                                <h1>Ihr zuverlässiger Partner im Hochbau</h1>
                                            </div>
                                            <p class="sliderTxt">
                                            </p>
                                        </div>
                                    </div>
                                <div class="item">
                                    <img src="/front-end/resources/slider/slider1.jpg" alt="...">
                                    <div class="content">
                                        <div id="heading" class="heading">
                                            <h1>Ihr zuverlässiger Partner im Hochbau</h1>
                                        </div>
                                        <p class="sliderTxt">
                                        </p>
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="/front-end/resources/slider/slider2.jpg" alt="...">
                                    <div class="content">
                                        <div id="heading" class="heading">
                                            <h1>Ihr zuverlässiger Partner im Hochbau</h1>
                                        </div>
                                        <p class="sliderTxt">
                                        </p>
                                    </div>
                                </div>

                            <!-- Controls -->
                            <a class="left carousel-control" href="#carousel-example-generic-mobile" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic-mobile" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 about-text-mobile">
                    <p>
                        Die RP Raif Pramenkovic GmbH ist ihr zuvertlässiger Partner im Bereich Tief-, Kanal- und Straßenbau.
                    </p>
                    <p>
                        Seit über 10 Jahren steht unser Meisterbetrieb für solide Ausführung auf handwerklich höchstem Niveau. Neben Ausschachtungen, Straßenbau und Pflasterarbeiten 
                        übernehmen wir auch die gesamte Gestaltung Ihrer Gartenanlage.
                    </p>
                </div>
                <div class="col-xs-12 peerks-wrapper">
                    <div class="lines-peerks"></div>
                    <div class="col-xs-6 peerks-wrapper-img-container border-right-box">
                        <img src="/front-end/resources/img/svg/medal.svg" alt="">
                        <h5>Best Quality</h5>
                    </div>
                    <div class="col-xs-6 peerks-wrapper-img-container">
                        <img src="/front-end/resources/img/svg/precision-posture.svg" alt="">
                        <h5>Accuracy</h5>
                    </div>
                    <div class="lines-peerks"></div>
                    <div class="col-xs-6 peerks-wrapper-img-container border-right-box">
                        <img src="/front-end/resources/img/svg/stopwatch.svg" alt="">
                        <h5>Always On Time</h5>
                    </div>
                    <div class="col-xs-6 peerks-wrapper-img-container">
                        <img src="/front-end/resources/img/svg/percentage.svg" alt="">
                        <h5>Best Price</h5>
                    </div>
                    <div class="lines-peerks"></div>
                </div>
                <div class="col-xs-12 service-unit-wrapper" id="first-service">
                    <div class="col-xs-6 text-wrapper-service-odd">
                        <div class="skrew">
                            <h4>Aushaltung</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aut doloremque neque accusantium eum totam!</p>
                            <p>
                                <a href="#" class="learnMore" >Learn More</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-6 service-unit-img">
                        <img src="/front-end/resources/img/photos/4.jpg" alt="">
                    </div>
                </div>
                <div class="col-xs-12 service-unit-wrapper">
                    <div class="col-xs-6 service-unit-img">
                        <img src="/front-end/resources/img/photos/4.jpg" alt="">
                    </div>
                    <div class="col-xs-6 text-wrapper-service-even">
                        <div class="skrew">
                            <h4>Gartenanlagen</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aut doloremque neque accusantium eum totam!</p>
                            <p>
                                <a href="#" class="learnMore" >Learn More</a>
                            </p>
                        </div>
                    </div>
                    
                </div>
                <div class="col-xs-12 service-unit-wrapper">
                    <div class="col-xs-6 text-wrapper-service-odd">
                        <div class="skrew">
                            <h4>Mauerscheiben</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aut doloremque neque accusantium eum totam!</p>
                            <p>
                                <a href="#" class="learnMore" >Learn More</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-6 service-unit-img">
                        <img src="/front-end/resources/img/photos/4.jpg" alt="">
                    </div>
                </div>
                <div class="col-xs-12 service-unit-wrapper">
                    <div class="col-xs-6 service-unit-img">
                        <img src="/front-end/resources/img/photos/4.jpg" alt="">
                    </div>
                    <div class="col-xs-6 text-wrapper-service-even">
                        <div class="skrew">
                            <h4>Teichanlagen</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aut doloremque neque accusantium eum totam!</p>
                            <p>
                                <a href="#" class="learnMore" >Learn More</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 service-unit-wrapper">
                    <div class="col-xs-6 text-wrapper-service-odd">
                        <div class="skrew">
                            <h4>Treppen</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aut doloremque neque accusantium eum totam!</p>
                            <p>
                                <a href="#" class="learnMore" >Learn More</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-6 service-unit-img">
                        <img src="/front-end/resources/img/photos/4.jpg" alt="">
                    </div>
                </div>
                <div class="col-xs-12 service-unit-wrapper" id="last-service">
                    <div class="col-xs-6 service-unit-img">
                        <img src="/front-end/resources/img/photos/4.jpg" alt="">
                    </div>
                    <div class="col-xs-6 text-wrapper-service-even">
                        <div class="skrew">
                            <h4>Balkonplattierungen</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aut doloremque neque accusantium eum totam!</p>
                            <p>
                                <a href="#" class="learnMore" >Learn More</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="truck-mobile-wallpaper">
                
                </div>
                <div class="col-xs-12">
                    <div class="col-xs-12 svg-icon">
                        <img src="/front-end/resources/img/svg/Innovative.svg" alt="">
                        <h5>INNOVATIVE</h5>
                    </div>
                    <div class="col-xs-12 svg-icon">
                        <img src="/front-end/resources/img/svg/Innovative.svg" alt="">
                        <h5>PROFESSIONAL</h5>
                    </div>
                    <div class="col-xs-12 svg-icon">
                        <img src="/front-end/resources/img/svg/Innovative.svg" alt="">
                        <h5>100% GUARANTEED</h5>
                    </div>
                    <div class="col-xs-12">
                        <p>Qualitätsarbeit Die besten Matelialie professionell veratbeitet. Darauf können SIe bauen</p>    
                    </div>
                </div>
                <div class=" col-xs-12 gallery-mobile">
                    <div class="main-block-gallery">
                        <div id="carousel-example-generic-gallery-mobile" class="carousel slide" data-ride="carousel">
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <img src="/front-end/resources/img/photos/10.jpg" alt="...">
                                </div>

                                <div class="item">
                                    <img src="/front-end/resources/img/photos/5.jpg" alt="...">
                                </div>
                                <div class="item">
                                    <img src="/front-end/resources/img/photos/12.jpg" alt="...">
                                </div>
                                <div class="item">
                                    <img src="/front-end/resources/img/photos/13.jpg" alt="...">
                                </div>
                                <div class="item">
                                    <img src="/front-end/resources/img/photos/14.jpg" alt="...">
                                </div>
                                <div class="item">
                                    <img src="/front-end/resources/img/photos/15.jpg" alt="...">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="side-block-gallery">
                        <div class="lil-pic-mobile">
                            <a href="#carousel-example-generic-gallery-mobile"  data-slide-to="0" class="active">
                                <img src="/front-end/resources/img/photos/10.jpg" alt="" >
                                {#<div class="hover-element"  data-target="#carousel-example-generic-gallery-mobile" data-slide-to="0" class="active">
                                    <p>Aushaltung</p>
                                </div>#}
                            </a>
                        </div>
                        <div class="lil-pic-mobile">
                            <a href="#carousel-example-generic-gallery-mobile"  data-slide-to="1">
                                <img src="/front-end/resources/img/photos/5.jpg" alt="" >
                                {#<div class="hover-element" data-target="#carousel-example-generic-gallery-mobile" data-slide-to="2">
                                    <p>Aushaltung</p>
                                </div>#}
                            </a>
                        </div>
                        <div class="lil-pic-mobile">
                            <a href="#carousel-example-generic-gallery-mobile"  data-slide-to="2">
                                <img src="/front-end/resources/img/photos/12.jpg" alt="" >
                                {#<div class="hover-element" data-target="#carousel-example-generic-gallery-mobile" data-slide-to="2">
                                    <p>Aushaltung</p>
                                </div>#}
                            </a>
                        </div>
                        <div class="lil-pic-mobile">
                            <a href="#carousel-example-generic-gallery-mobile"  data-slide-to="3">
                                <img src="/front-end/resources/img/photos/13.jpg" alt="" >
                                {#<div class="hover-element" data-target="#carousel-example-generic-gallery-mobile" data-slide-to="2">
                                    <p>Aushaltung</p>
                                </div>#}
                            </a>
                        </div>
                        <div class="lil-pic-mobile">
                            <a href="#carousel-example-generic-gallery-mobile"  data-slide-to="4">
                                <img src="/front-end/resources/img/photos/14.jpg" alt="" >
                                {#<div class="hover-element" data-target="#carousel-example-generic-gallery-mobile" data-slide-to="2">
                                    <p>Aushaltung</p>
                                </div>#}
                            </a>
                        </div>
                        <div class="lil-pic-mobile">
                            <a href="#carousel-example-generic-gallery-mobile"  data-slide-to="5">
                                <img src="/front-end/resources/img/photos/15.jpg" alt="" >
                                {#<div class="hover-element" data-target="#carousel-example-generic-gallery-mobile" data-slide-to="2">
                                    <p>Aushaltung</p>
                                </div>#}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 projects-container">
                    <h3>Unsere Projecte</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <div class="col-xs-12 block-projects">
                        <img src="/front-end/resources/img/photos/4.jpg" alt="">
                    </div>
                    <div class="col-xs-12 block-projects">
                        <div class="col-xs-6 pic-block-projects">
                            <img src="/front-end/resources/img/photos/4.jpg" alt="">
                        </div>
                        <div class="col-xs-6 text-block-projects">
                            <h4>Lorem dolor elit</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        {# moblie section end #}
        {% include 'shared/footer.twig' %}
        <script src="https://code.jquery.com/jquery-1.12.4.js" integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="/front-end/resources/js/script.js"></script>
    </body>
</html>